body{
    background-image: url("cloud.jpg");
    display: block;
    align-items: center;
}

h1{
    position: relative;
    text-align: center;
    color: #ff811b;
}

.checked{
    background-color: orange;
}

.container{
    display: flexbox;
    flex-direction: column;
    margin: 20px;
    color: #2b124c;
}

.container div{
    background-color: white;
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.container p{
    position: relative;
    left: 10px;
    top: 10px;
}

.container .options{
    position: relative;
    left: 40px;
    margin: 10px;
    width: 400px;
    top: 10px;
}

.container .options input, label{
    margin: 5px;
    position: relative;
    left: 100px;
}

.verfied{
    background-color: green;
}

.notVerified{
    background-color: red;
}

.score{
    background-color: white;
    width: 60px;
    height: 80px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    border: gold 5px solid;
}
